
@{
    ViewBag.Title = "Index";
}

<h2></h2>

<html>
<head>
    <title>Angular JS Includes</title>
    <style>
        table, th, td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
        }

            table tr:nth-child(odd) {
                background-color: #f2f2f2;
            }

            table tr:nth-child(even) {
                background-color: #ffffff;
            }
    </style>
</head>
<body>

     <div ng-app="" ng-controller="JobCtlr">
    <div class="input-group">
        <input class="form-control" ng-model="search" placeholder="Search" type="search" ng-change="search()" /><br/><br/>
        </div>
           
                <table  class="table  table-hover data-table myTable">
                    <tr>
                        <th>Client</th>
                        <th>Job Number</th>
                        <th>Job Name</th>
                        <th>Due</th>
                        <th>Status</th>

                    </tr>
                  
                    <tr ng-repeat="job in jobs|filter:search |limitTo:pageSize">

                        <td>{{ job.client }}</td>
                        <td>{{ job.job_number }}</td>
                        <td>{{ job.job_name }}</td>
                        <td>{{ job.due }}</td>
                        <td>{{ job.status }}</td>
                    </tr>
                </table>

         <button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
             Previous
         </button>
         {{currentPage+1}}/{{numberOfPages()}}
         <button ng-disabled="currentPage >= jobs.length/pageSize - 1" ng-click="currentPage=currentPage+1">
             Next
         </button>
            </div>

            <script>
                var app=angular.module('myApp',[]);

                function JobCtlr($scope, $http) {
                    var url = "http://localhost:51640/job.txt";
                    $scope.currentPage = 0;
                    $scope.jobs = {};
                    $scope.pageSize = 10;
                    $http.get(url).success(function (response) {
                        $scope.jobs = response;
                       

                    });
                    $scope.numberOfPages = function () {
                        return Math.ceil($scope.jobs.length / $scope.pageSize);
                    }
                }

                         

               
              </script>

            <script src="http://localhost:51640/angular.min.js"></script>

    <script>


    </script>
</body>
</html>
